*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to top,#04a71a,#05d120,#91e5eb );
    background-attachment: fixed;
    text-align: center;
    background-image:url(https://www.10wallpaper.com/wallpaper/1366x768/1304/fresh_grass-Nature_Landscape_wallpaper_1366x768.jpg) ;
}

h1{
    color: #f39c9c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bolder;
}
img{
   border-radius: 350px 0 100px 0;
   text-align: center;
    height: 300px;
}
.qualquercoisa {
    text-align: justify;
    color: rgb(255, 0, 0);
    font-family:Arial, Helvetica, sans-serif ;
}
.texto12{
color: white;
font-size: 20px;
background-color: #f39c9c;
}