*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    min-height: 100vh;
}
footer{
    margin-top: auto;
    background-color: gray;
    color: white;
    height: 8rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}