*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header> h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header>p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: blue;
}
section{
padding-top: 10vh;
padding-bottom: 10vh;
line-height: 2em;
}
section.normal{
background-color:white;
color: black;
}
section.imagem{
background-color: rgb(65, 64, 64);
color: white;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}