*{
    margin: 0;
    padding: 0;
}
div{
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
}
div.Espaço{
    background:url(espaco.jpg);
    position: absolute;
    background-size: cover;
}
div.Astronauta{
    background-image: url(astronauta.png);
    position: relative;
}
