h1{
    text-align: center;
}
table{
    margin: auto;
    width: 400px;
    border-collapse: collapse;
    position: relative;
}
th,td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
caption{
    padding: 10px;
    font-size: 1.5em;
    background-color: gray;
    border: 1px solid black;
}
th{
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
}
thead> tr> th{
    position: sticky;
    top: -1px;
    background-color:rgba(0, 0, 0, 0.836) ;
}
tbody> tr:nth-child(2n){
    background-color: rgba(128, 128, 128, 0.493);
    border: 1px solid black;
}
div{
    width: 400px;
    margin: auto;
}